<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Notification</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="./manifest.json">

    <link rel="icon" type="image/png" sizes="32x32" href="./img/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./img/icons/favicon-16x16.png">
    <meta name="theme-color" content="#4DBA87">

    <!-- Add to home screen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="pwa">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
</head>

<body>
    <div id="app" style="padding-top:100px;" class="col-xs-12 col-sm-6">
        <form class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-2 col-xs-2 control-label">Title</label>
                <div class="col-sm-10 col-xs-10">
                    <input v-model="title" class="form-control" placeholder="Title">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 col-xs-2 control-label">Body</label>
                <div class="col-sm-10 col-xs-10">
                    <input v-model="options.body" class="form-control" placeholder="Body">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 col-xs-2 control-label">icon</label>
                <div class="col-sm-10 col-xs-10">
                    <input v-model="options.icon" class="form-control" placeholder="icon's url">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 col-xs-2 control-label">image</label>
                <div class="col-sm-10 col-xs-10">
                    <input v-model="options.image" class="form-control" placeholder="images's url">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10 col-xs-offset-2 col-xs-10">
                    <button @click="showNotification" type="button" class="btn btn-success">Sw-Notice</button>
                    <button @click="Notification" type="button" class="btn btn-primary">Notice</button>
                </div>
            </div>
        </form>
    </div>
</body>
<script src="https://cdn.bootcss.com/vue/2.5.16/vue.min.js"></script>
<script>
    const app = new Vue({
        el: '#app',
        data() {
            return {
                title: 'Notification',
                options: {
                    body: `This is a notification`,
                    icon: './img/favicon.ico',
                    vibrate: [200, 100, 200, 100, 200, 100, 200],
                    tag: 'zhoucuole',
                    image: './img/bg.jpg',
                },
                actions: {
                    actions: [{
                            action: '猜你喜欢',
                            title: '猜你喜欢',
                            icon: './img/猜你喜欢.png'
                        },
                        {
                            action: '发现更多',
                            title: '发现更多',
                            icon: './img/发现激活.png'
                        }
                    ]
                }
            }
        },
        mounted() {
            navigator.serviceWorker.register('./sw.js');
        },
        methods: {
            showNotification() {
                Notification.requestPermission((result) => {
                    if (result === 'granted') {
                        navigator.serviceWorker.ready.then((registration) => {
                            registration.showNotification(this.title, Object.assign(this.actions,
                                this.options))
                        });
                    }
                });
            },
            Notification() {
                let Notification = window.Notification || window.mozNotification || window.webkitNotification;
                if (!Notification) {
                    alert("您的浏览器不支持此特性");
                    return false;
                }
                if (Notification && window.Notification.permission != "granted") {
                    //支持,但是未开启桌面提醒，进行相关操作、或提示开启
                    window.Notification.requestPermission();
                } else {
                    if (window.Notification.permission === "granted") {
                        //支持并且开启桌面消息提醒
                        const instance = new Notification(this.title, this.options);
                        instance.onclick = () => instance.close();
                        instance.onshow = () => setTimeout(() => instance.close(), 5000);
                    }
                }
            }
        }
    })
</script>

</html>
